body {
    background-image: url("images/realvan.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: contain;
    }

.icon{
    height: 200px;
    width: 200px;
    left: 10%;
    top: 10%;
    position: absolute;
    background: url("images/snacksquid_icon.png");
    background-size: 200px 200px;
}