<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
            background-image: url('../images/realvan.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: bottom right; 
            background-size: contain;
            }
            img {
                display: block;
                margin-left: 10%;
                margin-top: 5%;
            }
        </style>
    </head>
    <body>
        <p> Hello World </p>
        <img src="../images/snacksquid_icon.png" alt="Snack Squid icon" width="200" height="200">
    </body>
</html>