<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel = "icon" href = "../images/snacksquid_icon1.png" type = "image/x-icon">
    <link rel = "stylesheet" href="../css/menu.css">
</head>

<body>
    <li class="cart">
        <ion-icon name="basket"></ion-icon>Cart = <span>0</span>
    </li>
    <div class="container">
        <div class="image">
            <a class="addCart addCart1" href="#">Add A</a>
            <a class="removeCart removeCart1" href="#">Remove A</a>
        </div>
        <div class="image">
            <a class="addCart addCart2" href="#">Add B</a>
            <a class="removeCart removeCart2" href="#">Remove B</a>
        </div>
    </div>

    <>

    <script src="../js/cart.js"></script>
</body>

</html>