<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snack Squid: Homepage</title>
    <link rel = "icon" href = "../images/snacksquid_icon1.png" type = "image/x-icon">
    <link rel = "stylesheet" href="../css/homepage.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<body>
    <main class='container'>
        <section class='BG'></section>

        <section class='Info'>
            <div class="icon"></div>
            <h1>Snack Squid</h1>
            <button class='login'>Login</button>
            <br><br>
            <button class='signup'>Sign up</button>
            <br>
            <button class='findvan'>Find a nearby van <i class="fas fa-map-marked-alt"></i> </button>
        </section>

    </main>
</body>

</html>