<section id="login">
    <title>Login</title>

    <link rel="stylesheet" href="/customer/css/...">

    <form action="/customer/login" method="post">
        <div class="container">
            <label for="emailAddress"><b>Email Address</b></label>
            <input type="text" placeholder="Enter Username" name="emailAddress" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>

    <script src="/customer/js/..."></script>


</section>