
<section id="sinup">
    <title>Login</title>

    <link rel="stylesheet" href="/customer/css/homepage.css">

    <form action="/customer/signup" method="post">
        <div class="container">
            <section class='BG'></section>

            <section class='Info'>
                <div class="icon2"></div>
                <div class= "line"></div>

            <label for="givenName"><b>Given Name</b></label>
            <br>
            <input class="user-input" type="text" placeholder="Enter Given Name" name="givenName" required>
            <br>

            <style>
                .user-input{
                margin-top: 2px;
                margin-bottom: 3vh;
                }
            </style>

            <label for="familyName"><b>Family Name</b></label>
            <br>
            <input class="user-input" type="text" placeholder="Enter Family name" name="Family Name" required>
            <br>

            <label for="emailAddress"><b>Email Address</b></label>
            <br>
            <input class="user-input" type="text" placeholder="Enter Username" name="emailAddress" required>
            <br>

            <label for="password"><b>Password</b></label>
            <br>
            <input class="user-input" type="password" placeholder="Enter Password" name="password" required>
            <br>

            <button type="submit">Signup</button>
        </div>
    </form>

    <script src="/customer/js/..."></script>


</section>